.personsimage {
    height: 400px;
    position: relative;
    overflow: hidden;
    width: 310px;
}

.name {
    text-align: center;
    color: white;
    text-shadow: 2px 4px 4px rgba(143, 131, 131, 0.917);
    padding-top: 5%;
}

.description {
    text-align: center;
    color: white;
    text-shadow: 2px 4px 4px rgba(143, 131, 131, 0.917);
    padding-bottom: 5%;
}

.flex_box {
    display: flex;
    gap: 14vw;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(53, 53, 81, 0.937);
    width: 310px;
    border-radius: 5%;
    background-color: #2B3467;
}

.box:hover {
    box-shadow: 0 12px 16px 0 #EB455F;
}

#edit-button {
    background-color: #CDDEFF;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 15px; 
    margin-left: 13vw;
}

.popupForm {
    color: white;
    margin-left: 5vw;
}

#submitForm {
    background-color: #CDDEFF;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    font-weight: lighter;
    font-size: 15px; 
    margin-left: 7vw;
}
