body {
  background-color: #FCFFE7;
}

/*************************** HEADER *********************************/
.header {
  background-color: #0B2447;
  height: 120px;
  color: white;
}

#title {
  padding: 0;
  margin-top: -45px;
}

#sign-in, #sign-out {
  background-color: #CDDEFF;
  border: none;
  text-align: center;
  padding: 10px;
  padding-left: 25px;
  margin: 15px;
  padding-right: 25px;
  border-radius: 30px;
  font-size: 17px;
  transition: 0.3s;
}

#sign-in:hover, #sign-out:hover {
  background-color: #eaf1ff;
  color: black;
  box-shadow: 10px 10px;
}

#sign-in:active, #sign-out:active {
  transform: translateY(4px);
  box-shadow: 5px 5px;
}

h1 {
  margin: 0;
  padding: 25px;
  padding-left: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 55px;
  text-align: center;
}

/****************** ADD BUTTON *****************/

.add_bckgrnd {
  background-color: #EB455F;
  height: 75px;
  text-align: center;
}

#top_button, #go-to-home {
  background-color: #CDDEFF;
  border: none;
  text-align: center;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 30px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

#top_button:hover, #go-to-home:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 4px 7px;
  transition: 0.3s;
}

#top_button:active, #go-to-home:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
}

/************************ CARD SECTION ***********************/

.mid_section {
  min-height: 73.3vh;
  padding: 0;
}

#myUL {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.editButton {
  background-color: #CDDEFF;
  border: none;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 30px;
  font-weight: lighter;
  font-size: 15px; 
}

#deleteButton {
  background-color: #CDDEFF;
  border: none;
  padding: 10px;
  border-radius: 30px;
  font-weight: lighter;
  font-size: 15px; 
}

.editButton:hover, #deleteButton:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 4px 7px;
  transition: 0.3s;
}

.editButton:active, #deleteButton:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px, rgba(0, 0, 0, 0.23) 0px 1px 3px;
}

/********************* FOOTER **********************/

.footer {
  background-color: #0B2447;
  color: white;
  height: 50px;
}

#footer-text {
  padding-top: 15px;
  margin: 0;
  text-align: center;
}




/************************* Desktop 2 Log-in **************************/
.log_in {
  text-align: center;
  padding-top: 10vw;
  font-weight: lighter;
}

#username, #password {
  background-color: #CDDEFF;
  padding: 5px;
  border-radius: 10px;
}

#sign-in-button {
  background-color: #CDDEFF;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 30px;
  font-weight: lighter;
  font-size: 17px;
}



/**************************** Error Page *****************************/
.error_page {
  text-align: center;
}

#pnf {
  padding-top: 15px;
  color: white;
  height: 40px;
}
